{% extends "cms/base.html" %}

{% from "common/_macros.html" import static %}
{% block title %}
    我是首页
{% endblock %}
{% block head %}
    <style>
        .jumbotron {
            background-color: #eeeeee;
        }
    </style>
{% endblock %}
{#{% block page_title %}#}
{#    机械门锁的智能控制#}
{#{% endblock %}#}

{% block page_inner %}
    {#    <p>该毕设正在进行..</p>#}
    {#    <p>该系统有可以有若干用户</p>#}
    {#    <p>该系统有可以有若干管理员</p>#}
    {#    <p>该系统有可以有一个超级管理员</p>#}
    {#    <p>....</p>#}
    {#    <p>本科创杯作品是基于云服务器、微信小程序、网页，实现动态二维码门锁，用户可添加微信小程序进行开锁。</p>#}
    {#    <p>开锁权限实行三级管理，分别为普通用户、管理员和超级管理员；</p>#}
    {#    <p>超级管理员具有所有开锁以及门锁和用户管理等权限，管理员具有部分门锁权限；</p>#}
    {#    <p>其中普通用户可被超级管理员或管理员授权开锁权限，超级管理员、管理员可以登陆后台管理系统进行用户和门锁的管理、查看用户开锁记录等；</p>#}
    {#    <p>用户开锁后开锁记录会被系统记录，以便于管理员查看管理；</p>#}
    {#    <p>小程序内部实现签到功能，此作品可用于实验室管理等</p>#}
    <div class="jumbotron">
        <h1>机械门锁的智能控制</h1>
        <br>
        <p>本科作品是基于云服务器、微信小程序、网页，实现动态二维码门锁，用户可添加微信小程序进行开锁。</p>
        <p>开锁权限实行三级管理，分别为普通用户、管理员和超级管理员；</p>
        <p>超级管理员具有所有开锁以及门锁和用户管理等权限，管理员具有部分门锁权限；</p>
        <p>其中普通用户可被超级管理员或管理员授权开锁权限，超级管理员、管理员可以登陆后台管理系统进行用户和门锁的管理、查看用户开锁记录等；</p>
        <p>用户开锁后开锁记录会被系统记录，以便于管理员查看管理；</p>
        <p>小程序内部实现签到功能，此作品可用于实验室管理等。</p>
    </div>

{% endblock %}